/* #caa86a
rgb(202, 168, 106)


#ccc9c5
rgb(204, 201, 197)


#343434
rgb(52, 52, 52)


#75767c
rgb(117, 118, 124)


#d2ac66
rgb(210, 172, 102)


#20272d
rgb(32, 39, 45)


#1a5581
rgb(26, 85, 129) */

body{
    background-color: #ffffff !important;
    /* color: #343434; */
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    
}
.carousel-inner .carousel-caption h3{
    color: #ffffff !important
}
.carousel-inner .carousel-caption p{
    color: #caa86a !important;
    font-size: 20px;
}
.carousel-inner img{
    width: 100% !important;
}
.carousel-caption {
    bottom: 41% !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23caa86a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;

    /* background-image: url("../src//assets/img/right.png") !important; */
} 
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23caa86a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.section-image:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(19, 19, 19, 0.89) !important;
}
.section-image .title, 
.section-image .card-plain .card-title ,
.contactus-1 .info .info-title
{
    color: #ffffff !important;
}
.card {
    background: #f3f1f1 !important;
}
.card label,
.form-control {
    color: rgba(12, 12, 12, 0.6) !important;
    border-color: #caa86a !important;
}
.input-group-prepend .input-group-text, .input-group-prepend .input-group-text {
    background-color: transparent !important;
    border: 1px solid #caa86a !important;
    border-radius: 0.4285rem;
    color: #caa86a !important;
    margin: 0;
}
.input-group-append .input-group-text i, .input-group-prepend .input-group-text i {
    opacity: 1 !important;
}
.form-group .input-group-prepend .input-group-text, .form-group .input-group-append .input-group-text, .input-group .input-group-prepend .input-group-text, .input-group .input-group-append .input-group-text {
    padding: 10px !important
}
.btn , .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus {
    background: #caa86a !important;
    border: 1px solid #caa86a !important;
}
.section-image .description, .section-image .info .icon:not(.icon-circle) {
    color: rgba(255, 255, 255, 0.8) !important;
}
.testimonials-4 .info .description {
    font-weight: 400 !important;
    line-height: 25px;
    font-size: 14px;
}
@media only screen and (max-width: 768px) {

    .carousel-item .d-md-block {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    .carousel-caption {
        bottom: 1% !important;
    }
    .carousel-inner .carousel-caption h3{
        font-size: 15px;
    }
    .carousel-inner .carousel-caption p{
        color: #caa86a !important;
    }
    
}
.carousel-item .d-none {
    display: flex !important;
    flex-direction: column-reverse !important;
}