
.ProjectsWrapper{
    background-color: #20272d;
}
.groupTitle{
    color: #caa86a !important;
    text-align: center;
}
.projectDescription{
    color: #ffffff !important;;
}

.groupWrapper{
    background-color: #343434 !important;
}